@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  overflow: hidden; /* force no page-level scrolling; only internal panels should scroll */
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* Ensure root app container can manage its own scrollable children */
#__next > div, html > body > div {
  height: 100%;
}
