networks:
  agent:
    name: agent

services:
  frontend:
    container_name: frontend
    build: ./frontend
    ports:
      - '8022:8022'
      - '3000:3000'
    restart: on-failure
    depends_on:
      - backend
    networks:
      - agent
    env_file:
      - .env
  backend:
    container_name: backend
    build: ./backend
    ports:
      - '9022:8022'
      - '8000:8000'
    restart: on-failure
    env_file:
      - .env
    networks:
      - agent
